.user-info {
    display: flex;

    img {
        @apply w-[80px] h-[80px] rounded-full mr-4;
    }

    .info-text {
        @apply flex flex-col text-sm text-gray-500 font-bold pt-3;
    }
}

:deep(.el-radio) {
    width: 100%;
    text-align: left;
}
